<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- ================= FILTER ================= -->
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeController</servlet-name>
        <servlet-class>controller.VerifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDeniedController</servlet-name>
        <servlet-class>controller.AccessDeniedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>controller.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceEditController</servlet-name>
        <servlet-class>controller.ServiceEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDeleteController</servlet-name>
        <servlet-class>controller.ServiceDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceCreateController</servlet-name>
        <servlet-class>controller.ServiceCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelPolicyServlet</servlet-name>
        <servlet-class>controller.HotelPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomListController</servlet-name>
        <servlet-class>controller.RoomListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomEditController</servlet-name>
        <servlet-class>controller.RoomEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailController</servlet-name>
        <servlet-class>controller.RoomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountListController</servlet-name>
        <servlet-class>controller.StaffAccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountDetailController</servlet-name>
        <servlet-class>controller.StaffAccountDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountEditController</servlet-name>
        <servlet-class>controller.StaffAccountEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountCreateController</servlet-name>
        <servlet-class>controller.StaffAccountCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAccountDeleteController</servlet-name>
        <servlet-class>controller.StaffAccountDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServiceListController</servlet-name>
        <servlet-class>controller.RoomServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServiceCreateController</servlet-name>
        <servlet-class>controller.RoomServiceCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServiceDeleteController</servlet-name>
        <servlet-class>controller.RoomServiceDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServiceEditController</servlet-name>
        <servlet-class>controller.RoomServiceEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelServiceListController</servlet-name>
        <servlet-class>controller.HotelServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelServiceEditController</servlet-name>
        <servlet-class>controller.HotelServiceEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelServiceDeleteController</servlet-name>
        <servlet-class>controller.HotelServiceDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelServiceCreateController</servlet-name>
        <servlet-class>controller.HotelServiceCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomAmenityListController</servlet-name>
        <servlet-class>controller.RoomAmenityListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomAmenityCreateController</servlet-name>
        <servlet-class>controller.RoomAmenityCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomAmenityEditController</servlet-name>
        <servlet-class>controller.RoomAmenityEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomAmenityDeleteController</servlet-name>
        <servlet-class>controller.RoomAmenityDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailServlet</servlet-name>
        <servlet-class>controller.RoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomTypeListServlet</servlet-name>
        <servlet-class>controller.RoomTypeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomTypeServlet</servlet-name>
        <servlet-class>controller.CreateRoomTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelInfoController</servlet-name>
        <servlet-class>controller.HotelInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelInfoUpdateController</servlet-name>
        <servlet-class>controller.HotelInfoUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelImageUpdateController</servlet-name>
        <servlet-class>controller.HotelImageUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelNewsCreateController</servlet-name>
        <servlet-class>controller.HotelNewsCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelNewsEditController</servlet-name>
        <servlet-class>controller.HotelNewsEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelNewsDeleteController</servlet-name>
        <servlet-class>controller.HotelNewsDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositPaymentListController</servlet-name>
        <servlet-class>controller.DepositPaymentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositPaymentVerifyController</servlet-name>
        <servlet-class>controller.DepositPaymentVerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositPaymentRejectController</servlet-name>
        <servlet-class>controller.DepositPaymentRejectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingDetailController</servlet-name>
        <servlet-class>controller.BookingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingFormController</servlet-name>
        <servlet-class>controller.BookingFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingPaymentController</servlet-name>
        <servlet-class>controller.BookingPaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingSuccessController</servlet-name>
        <servlet-class>controller.BookingSuccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceCreateController</servlet-name>
        <servlet-class>controller.InvoiceCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingListController</servlet-name>
        <servlet-class>controller.BillingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoicePDFController</servlet-name>
        <servlet-class>controller.InvoicePDFController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionistDashboardController</servlet-name>
        <servlet-class>controller.ReceptionistDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnassignRoomController</servlet-name>
        <servlet-class>controller.UnassignRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalkInBookingServlet</servlet-name>
        <servlet-class>controller.WalkInBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomCreateController</servlet-name>
        <servlet-class>controller.RoomCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDeleteController</servlet-name>
        <servlet-class>controller.RoomDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestRequestController</servlet-name>
        <servlet-class>controller.GuestRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingListController</servlet-name>
        <servlet-class>controller.BookingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CounterRequestController</servlet-name>
        <servlet-class>controller.CounterRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListController</servlet-name>
        <servlet-class>controller.FeedbackListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackSubmissionController</servlet-name>
        <servlet-class>controller.FeedbackSubmissionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffBookingDetailController</servlet-name>
        <servlet-class>controller.StaffBookingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboardController</servlet-name>
        <servlet-class>controller.ManagerDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MDashboardPDFController</servlet-name>
        <servlet-class>controller.MDashboardPDFController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolicyListController</servlet-name>
        <servlet-class>controller.PolicyListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolicyCreateController</servlet-name>
        <servlet-class>controller.PolicyCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolicyEditController</servlet-name>
        <servlet-class>controller.PolicyEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PolicyDeleteController</servlet-name>
        <servlet-class>controller.PolicyDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequestController</servlet-name>
        <servlet-class>controller.ProcessRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagementController</servlet-name>
        <servlet-class>controller.FeedbackManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeController</servlet-name>
        <url-pattern>/verify-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/profile/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDeniedController</servlet-name>
        <url-pattern>/access-denied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/ServiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceEditController</servlet-name>
        <url-pattern>/ServiceEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDeleteController</servlet-name>
        <url-pattern>/ServiceDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCreateController</servlet-name>
        <url-pattern>/ServiceCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelPolicyServlet</servlet-name>
        <url-pattern>/policies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomListController</servlet-name>
        <url-pattern>/RoomList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomEditController</servlet-name>
        <url-pattern>/RoomEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailController</servlet-name>
        <url-pattern>/RoomDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountListController</servlet-name>
        <url-pattern>/StaffAccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountDetailController</servlet-name>
        <url-pattern>/StaffAccountDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountEditController</servlet-name>
        <url-pattern>/StaffAccountEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountCreateController</servlet-name>
        <url-pattern>/StaffAccountCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAccountDeleteController</servlet-name>
        <url-pattern>/StaffAccountDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServiceListController</servlet-name>
        <url-pattern>/RoomServiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServiceCreateController</servlet-name>
        <url-pattern>/RoomServiceCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServiceDeleteController</servlet-name>
        <url-pattern>/RoomServiceDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServiceEditController</servlet-name>
        <url-pattern>/RoomServiceEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelServiceListController</servlet-name>
        <url-pattern>/HotelServiceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelServiceEditController</servlet-name>
        <url-pattern>/HotelServiceEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelServiceDeleteController</servlet-name>
        <url-pattern>/HotelServiceDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelServiceCreateController</servlet-name>
        <url-pattern>/HotelServiceCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomAmenityListController</servlet-name>
        <url-pattern>/RoomAmenityList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomAmenityCreateController</servlet-name>
        <url-pattern>/RoomAmenityCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomAmenityEditController</servlet-name>
        <url-pattern>/RoomAmenityEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomAmenityDeleteController</servlet-name>
        <url-pattern>/RoomAmenityDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailServlet</servlet-name>
        <url-pattern>/room-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomTypeListServlet</servlet-name>
        <url-pattern>/roomtypelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomTypeServlet</servlet-name>
        <url-pattern>/create-roomtype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelInfoController</servlet-name>
        <url-pattern>/HotelInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelInfoUpdateController</servlet-name>
        <url-pattern>/HotelInfoUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelImageUpdateController</servlet-name>
        <url-pattern>/HotelImageUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelNewsCreateController</servlet-name>
        <url-pattern>/HotelNewsCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelNewsEditController</servlet-name>
        <url-pattern>/HotelNewsEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelNewsDeleteController</servlet-name>
        <url-pattern>/HotelNewsDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositPaymentListController</servlet-name>
        <url-pattern>/DepositPaymentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositPaymentVerifyController</servlet-name>
        <url-pattern>/DepositPaymentVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositPaymentRejectController</servlet-name>
        <url-pattern>/DepositPaymentReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingDetailController</servlet-name>
        <url-pattern>/booking-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingFormController</servlet-name>
        <url-pattern>/booking-form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingFormController</servlet-name>
        <url-pattern>/quick-booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingPaymentController</servlet-name>
        <url-pattern>/booking-payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingSuccessController</servlet-name>
        <url-pattern>/booking-success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceCreateController</servlet-name>
        <url-pattern>/InvoiceCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingListController</servlet-name>
        <url-pattern>/BillingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoicePDFController</servlet-name>
        <url-pattern>/InvoicePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionistDashboardController</servlet-name>
        <url-pattern>/receptionist-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnassignRoomController</servlet-name>
        <url-pattern>/unassign-room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalkInBookingServlet</servlet-name>
        <url-pattern>/walk-in-booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomCreateController</servlet-name>
        <url-pattern>/RoomCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDeleteController</servlet-name>
        <url-pattern>/RoomDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestRequestController</servlet-name>
        <url-pattern>/guest-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingListController</servlet-name>
        <url-pattern>/booking-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CounterRequestController</servlet-name>
        <url-pattern>/counter-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/feedback-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackSubmissionController</servlet-name>
        <url-pattern>/feedback-submission</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffBookingDetailController</servlet-name>
        <url-pattern>/staff-booking-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboardController</servlet-name>
        <url-pattern>/ManagerDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MDashboardPDFController</servlet-name>
        <url-pattern>/MDashboardPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicyListController</servlet-name>
        <url-pattern>/PolicyList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicyCreateController</servlet-name>
        <url-pattern>/PolicyCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PolicyEditController</servlet-name>
        <url-pattern>/PolicyEdit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PolicyDeleteController</servlet-name>
        <servlet-class>controller.PolicyDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequestController</servlet-name>
        <servlet-class>controller.ProcessRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackManagementController</servlet-name>
        <url-pattern>/feedback-management</url-pattern>
    </servlet-mapping>
</web-app>
