/* 
    Created on : Jun 6, 2026, 1:27:07 PM
    Author     : LinhLTHE200306
*/
:root {
    --bg-main: #fbf7ee;
    --text-main: #1b1b1b;
    --text-muted: #8e8a82;
    --border-color: rgba(27, 27, 27, 0.15);
    
    --font-primary: 'Poppins', sans-serif;
    --font-logo: 'Cormorant Garamond', serif;
}

.staff-header{
    /*    outline: 5px solid red !important;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--bg-main);
}

.staff-header-info{
    /*  outline: 5px solid red !important;*/
    display: flex;
    align-items: center;
    gap:15px;
}

.staff-header-logo{
    /*    outline: 5px solid red !important;*/
    font-family: var(--font-logo);
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-main);
    margin: 0;
    opacity: 0.8;
}

.staff-header-role {
    /*        outline: 1px solid red !important;*/
    font-size: 1rem;
    font-family: var(--font-primary);
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    padding-left: 15px;
    border-left: 2px solid var(--border-color);
}

.staff-header-user {
    /*    outline: 1px solid red !important;*/
    display: flex;
    align-items: center;
    gap: 25px;
}

.staff-name {
    /*    outline: 1px solid red !important;*/
    color: var(--text-main);
    font-family: var(--font-primary);
    text-decoration: none;
    font-size: 1.1rem;
}

.staff-header-user form {
    margin: 0;
    padding: 0;
}

.logout-btn {
    /*    outline: 1px solid red !important;*/
    background: transparent;
    border: 1.5px solid var(--text-main);
    color: var(--text-main);
    padding: 15px 18px;
    font-family: var(--font-primary);
    font-size: 0.8rem;
    font-weight: 520;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all 0.2s;
}

.logout-btn:hover {
    background: var(--text-main);
    color: white;
}